<div class="jumbotron">
	<h1> Hello. </h1>
	<h2> Thank you for your interest!</h2>
</div>

<h4> Please enter your name and email below and we'll be in touch with more details soon. </h4>
<%= form_tag '/' do %>
	<input type='text' name='name' class="form-control" placeholder="Kathryn Barrett"/>
	<br>
	<input type='text' name='email' class="form-control" placeholder="hi@kathrynbarrett.ca"/>
	<br>
	<input type='submit' class="btn btn-success btn-lg btn-block"/>
<% end %>


